@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #941919;
  --color-primary-dull: #D63854;
}




*{
   font-family: "Outfit", sans-serif;
   scrollbar-width: thin;
   scrollbar-color: #941919 ;
}

body{
  color: aliceblue;
  background-color: black;

}